[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule ".vim/fonts"]
	path = .vim/fonts
	url = https://github.com/powerline/fonts
[submodule "zsh"]
	path = zsh
	url = https://github.com/robbyrussell/oh-my-zsh
